@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="~/css/account.css" rel="stylesheet" />
    <link href="~/css/book.css" rel="stylesheet" />
    <link href="~/css/author.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a asp-controller="Home" asp-action="Index">Ebla Library Manager</a>
            </div>
            <div class="list-group list-group-flush">
                <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-home pr-3"></i>Home</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Book" asp-action="Index" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-book pr-3"></i>Books</a>
                    <a asp-controller="Account" asp-action="Profile" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-user pr-3"></i>Profile</a>
                    <a asp-controller="Account" asp-action="Settings" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-cog pr-3"></i>Settings</a>
                    <a asp-controller="Account" asp-action="Logout" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-sign-out-alt pr-3"></i>Sign out</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-sign-in-alt pr-3"></i>Sign in</a>
                    <a asp-controller="Account" asp-action="Register" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-user-plus pr-3"></i>Register</a>
                }
            </div>
        </div>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="top-navbar">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Ebla Library Manager</a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a asp-controller="Home" asp-action="Index" class="nav-item nav-link"><i class="fas fa-home pr-2"></i>Home</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Book" asp-action="Index" class="nav-item nav-link"><i class="fas fa-book pr-2"></i>Books</a>
                            <a asp-controller="Account" asp-action="Profile" class="nav-item nav-link"><i class="fas fa-user pr-2"></i>Profile</a>
                            <a asp-controller="Account" asp-action="Settings" class="nav-item nav-link"><i class="fas fa-cog pr-2"></i>Settings</a>
                            <a asp-controller="Account" asp-action="Logout" class="nav-item nav-link"><i class="fas fa-sign-out-alt pr-2"></i>Sign out</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="nav-item nav-link"><i class="fas fa-sign-in-alt pr-2"></i>Sign in</a>
                            <a asp-controller="Account" asp-action="Register" class="nav-item nav-link"><i class="fas fa-user-plus pr-2"></i>Register</a>
                        }
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-toggler').click(function () {
            $('.navbar-collapse').toggle();
        });
    });
</script>