@{ 
    ViewBag.Title = "Ebla Library Manager";
}

<div id="home">
    <div class="row">
        <div class="col-md-4 column">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <i class="fas fa-users fa-6x"></i>
                        <p class="text-muted mt-3 mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam posuere tincidunt malesuada. Duis pretium nunc et ullamcorper imperdiet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 column">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <i class="fas fa-book-open fa-6x"></i>
                        <p class="text-muted mt-3 mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam posuere tincidunt malesuada. Duis pretium nunc et ullamcorper imperdiet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 column">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <i class="fas fa-cogs fa-6x"></i>
                        <p class="text-muted mt-3 mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam posuere tincidunt malesuada. Duis pretium nunc et ullamcorper imperdiet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>