#wrapper {
    overflow-x: hidden;
 }


#wrapper .role-label {
    margin-top: 0.875rem;
    color: #f8f9fa;
    border-color: #f8f9fa;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#wrapper .btn-close-sidebar,
#wrapper .btn-show-sidebar {
    background-color: #495057;
}

#sidebar-wrapper {
  min-height: 100vh;
  /*margin-left: -15rem;*/
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#sidebar-wrapper .sidebar-heading a {
    color: #fff;
    font-weight: 600;
}

#sidebar-wrapper .sidebar-heading a:hover {
    text-decoration: none;
}

#sidebar-wrapper .list-group {
  width: 20rem;
}

#sidebar-wrapper .list-group-item {
    color: #fff !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#page-content-wrapper .nav-item {
    color: #fff !important;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#top-navbar {
    display: none;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        display: none;
    }

    #top-navbar {
        display: flex;
    }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
